*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(40, 35, 35);
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;

}
.top-heading{
  text-align: center;
  color: rgb(197, 153, 82);

}
form{
  width:70%;
  max-width: 500px;
}
.input-container{
   /* background-color: aqua; */
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 20px;
}
#inputBox{
   width:70%;
   height: 40px;
   border: none;
   border-radius: 10px;
   background-color: rgb(231, 221, 206);
   outline: none;
   padding-left: 10px;
   font-size: large;
   box-shadow: 0px 0px 10px 1px black;
}
#add{
margin-left: 10px;
font-size: large;
padding: 10px;
border-radius: 10px;
border: none;
outline: none;
background-color: cadetblue;
color: white;
box-shadow: 2px 2px 10px 1px black;
}
#add:hover{
  cursor: pointer;
}
#submit{

}
.list{
 
}
.item{
  background-color: rgb(197,153,86) ;
  display: flex;
  font-size: x-large;
  padding: 20px;
  margin: 10px;
  border-radius: 5px 10px;
}
.item p{
  flex-basis: 80%;
}
.icon-container{
  flex-basis: 20%
}
.icon-container button{
  background-color: transparent;
  border: none;
  font-size: x-large;
}
.fa-solid {
  color:rgb(32,32,30);
  cursor: pointer;
  font-size: xx-large;
  transition: all 0.3s;
}
.fa-solid:hover{
  transform: scale(1.3);
}
.hidden{
  visibility: hidden;
}
.deleted-text{
  text-decoration: line-through;
  color: rgb(72, 19, 19);
}
.deleted-text span{
  color: black;
}
.fade{
  background-color: rgb(134, 102, 102);
}